
:root {

    --color-primary: #369;
    --color-secondary: #348899;


    --color-white: #efefef;
    --color-black: #232323;
    --color-gray: #676767;

    --color-success: #339933;
    --color-danger: #ff3300;
    --color-warning: #ffaa33;
    --color-info: skyblue;
    --color-light: var(--color-white);


}